

body {
  position: relative;
  width: 21cm;
  height: 29.7cm;
  margin: 0 auto;
  color: #001028;
  background: #FFFFFF; 
  font-family: Open Sans Condensed; 
  font-size: 16px; 
}


#logo {
  text-align: center;
  margin-bottom: 10px;
}

#logo img {
  width: 90px;
}

h1 {
  border-top: 1px solid  #5D6975;
  border-bottom: 1px solid  #5D6975;
  color:  #922222;
  font-size: 2.4em;
  line-height: 1.4em;
  text-align: center;
  margin: 0 0 20px 0;
}
h2{
  font-size: 28px;
  background-color: #922222;
  color: white;
  font-family: Open Sans Condensed;
}


#ticketInfo {
  text-align-last: center;
  font-size: 1em;
}

#ticketInfo span {
  color:  #922222;
  text-align: center;
  width: 52px;
  margin-left: 60px;
  margin-right: 120px;
  margin-bottom: 5px;
  display: inline-block;
  font-size: 1em;
}

#company {
  text-align: center;
}
.total{
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 2px;
  margin-bottom: 20px;
}

table th,
table td {
  text-align: center;
}

table th {
  padding: 5px 20px;
  color:  #922222;
  border-bottom: 1px solid black;        
  font-weight: normal;
}

table .service,
table .desc {
  text-align: left;
}

table td {
  padding: 20px;
  text-align: right;
}

table td.service,
table td.desc {
  vertical-align: top;
}

table td.unit,
table td.qty,
table td.total {
  font-size: 1.2em;
}

#notices .notice {
  color:  #922222;
  font-size: 1.2em;
}